
#tasklist li {
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.task-middle {
	font-size: 14px;
	line-height: 25px;
}

.task-listname {
	margin-right: 4px;
}

/* Overvej */
.h2 {
    color: rgba(175, 47, 47, 0.31);
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

.h3 {
	border-bottom: 0px;
}

a {
    color: black;
}

/* ############################################################
 * BOARD TWEAKING
 * ############################################################ */

#board {
	border-top: 0px solid #CCC;
	border-right: 0px solid #CCC;
}

.board-swimlane > td {
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

[class^="board-swimlane-columns-"]{
   /* display: none;*/ // This will hide column names above board/swimlanes
}

tr[class*='board-swimlane-columns']:not(:first-child) {
    display: none;  // This will hide all column titles on swimlanes except for the first one
}

.board-swimlane-columns-0 {
    display: table-row;
}

.board-swimlane-columns-0 > .board-column-header {
    /*font-size: 13px;*/
    border-bottom: 0px solid #c7c7c7;
}

#board-container table {
	border-collapse: separate;
    border-spacing: 15px 0;
    border-top: 0px solid #CCC;
    border-left: 0px solid #CCC;
    border-right: 0px solid #CCC;
    border-bottom: 0px solid #CCC;
}

#board-container td {
    padding: 5px 0;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

#board-container tr {
    border-top: 0px solid #CCC;
    border-left: 0px solid #CCC;
    border-right: 0px solid #CCC;
    border-bottom: 0px solid #CCC;
}

.board-column-expanded .board-add-icon a {
	line-height: 50%;
}



/* ############################################################ 
 * USER INTERFACE
 * ############################################################ */

header {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
    padding: 10px 10px 15px 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px!important;
    border-bottom: none;
}

header h1 {
	font-size: 24px;
	color: white;
    font-weight: 600;
    padding-left: 10px;
}

header h1 a {
	color: white;
    padding-left: 10px;
}

/* ## FOR KANBOARD 1.2.5 ###################################### */
header .board-selector-container {max-width: 25%}
.js-select-dropdown-autocomplete-rendered {max-width: 100%}
/* ############################################################ */

.page-header {
    padding: 0px 0px 5px 15px;
    background-color: #0e0e0e4d;
    font-size: small;
}

.sidebar-content>.page-header {
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
}

.page-header h2 {
    border-bottom: none;
}

.project-header {
    font-size: 13px;
    margin-bottom: 10px;
    background-color: #fafafa;
    border-bottom: 1px solid #ececec;
    padding: 5px 15px;
}

.page {
	margin-left: 0px!important;
	margin-right: 0px!important;
}

h1 {
    font-weight: normal;
    color: #FFFFFF;
}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: #000 !important;
    /*font-family: "Open Sans","Helvetica",Arial,sans-serif;*/
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.page {
    margin-left: 20px;
    margin-right: 20px;
    clear: both;
}

.ui-sortable {
   padding: 0px 2px 0px 2px;
}

.sidebar>ul a {
    color: #271e1e;
}

.sidebar {
    padding-left: 10px;
    min-width: 100px;
    font-size: small;
}

/* unvisited link */
    a:link {
    color: rgb(0, 0, 0);
}

/* visited link */
    a:visited {
    color: rgb(0, 0, 0);
}

/* mouse over link */
    a:hover {
    color: rgb(128, 128, 128);
}

/* selected link */
    a:active {
    color: rgb(128, 128, 128);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

div.color-yellow {
border-left-width: 15px;
background-color: white;
}

div.color-blue {
border-left-width: 15px;
background-color: white;
}

div.color-green {
border-left-width: 15px;
background-color: white;
}

div.color-purple {
border-left-width: 15px;
background-color: white;
}

div.color-red {
border-left-width: 15px;
background-color: white;
}

div.color-orange {
border-left-width: 15px;
background-color: white;
}

div.color-grey {
border-left-width: 15px;
background-color: white;
}

div.color-brown{
border-left-width: 15px;
background-color: white;
}

div.color-deep_orange {
border-left-width: 15px;
background-color: white;
}

div.color-dark_grey {
border-left-width: 15px;
background-color: white;
}

div.color-pink {
border-left-width: 15px;
background-color: white;
}

div.color-teal {
border-left-width: 15px;
background-color: white;
}

div.color-cyan {
border-left-width: 15px;
background-color: white;
}

div.color-lime {
border-left-width: 15px;
background-color: white;
}

div.color-light_green {
border-left-width: 15px;
background-color: white;
}

div.color-amber {
border-left-width: 15px;
background-color: white;
}

div.task-board-recent {
    border-width: 1px!important;
    border-left-width: 4px!important;
    background-color: white!important;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(186,186,186,0.5);
    border-left-width: 4px!important;
    border-right: none;
    border-top: 1px solid #ececec!important;
    border-bottom: none;
}

.filter-box input[type=text] {
    max-width: 300px;
}

.accordion-section {
	margin-left: 20px;
	margin-right: 20px;
}

.task-board-collapsed {
    font-size: 14px;
}

.task-board {
    font-size: 15px;
}

@media (max-width: 600px) {
	.popover-form .form-column {
		float: none;
		margin-right: 3%;
		max-width: none;
		min-width: inherit;
	}

	input.form-input-large {
		width: 90%;
	}
}


/* GITLAB LOOKALIKE */
.board-column-header {
    width: initial;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    /*background: #c4c4c4;*/
    background: #fafafa; /*rgba(91, 141, 220, 0.95);*/
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    position: relative;
    margin: 0;
    padding: 12px;
    font-size: 16px;
    border-bottom: 1px solid #e5e5e5;
}

.task-board-age {
    display: none;
}
.task-board-category-container {
    text-align: left;
}
.task-board-avatars {
    display: none;
}
.task-board-title>a {
    font-family: 'Roboto', sans-serif;
}
/* HOLDER OF TASKS */
tr.board-swimlane > td {
	background-color: #fafafa;;
	border-radius: 13px;
    /* Gitlab */
    -webkit-flex: 1;
    flex: 1;
    height: 400px;
    margin-bottom: 0;
    padding: 5px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    background: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 0px 0px 10px 10px;
    /* Gitlab end */

}
th.board-swimlane-header {
	background-color: white;
	border-bottom: 0px solid #CCC;
	border-top: 0px solid #CCC;
	border-left: 0px solid #CCC;
	font-size: 14px;
	line-height: 22px;
}
/* THE SINGLE TASKS LAYOUT */
.board-task-list>div {
    font-size: 13px;
    border-left-width: 2.5px!important;
    background-color: white!important;
    background: #fff;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow:  0 1px 2px rgba(62, 54, 54, 0.55); /*0 1px 2px rgba(186,186,186,0.5);*/
    border-right: none;
    border-top: 1px solid #ececec!important;
    border-bottom: none;
}
/* Duedata, subtasks, relations, etc. */
.task-board-icons {
    margin-top: 2px;
}
/* Hidden priority 'P0,P1,P2,P3'. Not relevant when it's P0. Should be combined with JS for dynamic */
.task-board-priority {
    display: none;
}
/* The task title - go for initial if it should stay on same line */
.task-board-title {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}
/* SIZE OF COLUMN WHEN HIDDEN (MINIMIZED) */
#board th.board-column-header-collapsed{
    width: 5px;
    min-width: 5px;
}

/* FOR LINKS IN TASK DESCRIPTIONS */
.markdown > ul > li > a {
    color: white;
    background-color: grey;
    padding: 2px 4px;
    border-radius: 3px;
}

/* FOR INLINE CODE */
code {
    margin: 0;
    padding: 2px 0.4em;
    background-color: rgba(27, 31, 35, 0.32);
    border-radius: 3px;
    color: #000;
    font-family: Tahoma;
    font-size: 85%;
}

/* FOR BLOCKQUOTE TEXT */
blockquote{
  font-size: 1.1em;
  width:auto; // Leave as auto because of board hover tooltip 
  margin:5px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px !important;
  border-left:8px solid rgb(168, 207, 255) !important;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:rgb(168, 207, 255);
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
/* END BLOCKQUOTE TEXT */

/* HIDE SCROLL BARS IN BOARD MENU LIST */
#select-dropdown-menu {overflow: auto !important;}
/* END HIDE SCROLL BARS IN BOARD MENU LIST */

/* INCREASE INFO CIRCLE SIZE IN TOOLTIP */
.tooltip .fa-info-circle {
	font-size: 1.3em !important;
	vertical-align: middle !important;
}
/* END INCREASE INFO CIRCLE SIZE IN TOOLTIP */

/* INCREASE PAGE HEADER TEXT SIZE */
.page-header ul li {font-size: 1.2em;}
/* END INCREASE PAGE HEADER TEXT SIZE */

/* ALERT */
.alert {
	margin-bottom:20px;
	color:#000;
	background-color: #f6d009;
	border: 1px solid #fbeed5;
	font-style: italic;
}
/* END ALERT */

/* FOR FIELD BORDERS  */
textarea, .alert, input {
    border-radius: 4px;
}

select {
    border-radius: 4px;
    border-width: 1px;
}
/* END FIELD BORDERS  */

/* REQUIRED FIELD ASTERISK  */
.form-required {
    transform: scale(2);
    display: inline-block;
    vertical-align: bottom;
    padding-top: 5px; // For browser password addon spacing compatibility
}
/* END REQUIRED FIELD ASTERISK  */